/* body{
    display: flex;
    justify-content: center;
} */

.container{
    display: flex;
    width: 480px;
    height: 480px;
    align-content: flex-start;
}

.column{
    flex: 1;
    
    display: flex;
    flex-direction: column;
}

.lines{
    /* border: solid 1px black; */
    background-color: white;
    flex: 1;
}

.div:hover {
    background-color: gold;
}