body{
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    width: 480px;
    height: 480px;
    align-content: flex-start;
}

.column{
    flex: 1;
    border: solid 3px black;
    background-color: pink;
    display: flex;
    flex-direction: column;
}

.lines{
    border: solid 3px black;
    flex: 1;
}